<div class="container">
  <h1 class="my-3">Watch List</h1>

  <% unless @followings.empty? %>
    <% @followings.reverse.each do | following | %>
      <div class="following-card mb-3">
        <div class="row border-bottom">
          <div class="col-9 d-flex mb-2">
            <div><%= cl_image_tag(following.game.photos.last.key, class: "avatar following-avatar mr-3") %></div>
            <div>
              <div class="banner-top">
                <h1 class="banner-title"><%= link_to following.game.title, game_path(following.game), id: "following-title"%></h1>
                <div class="system-icons">
                  <% following.game.platforms.each do |platform| %>
                    <% if platform.name == "Windows" %>
                      <i class="fab fa-windows"></i>
                    <% elsif platform.name == "MacOS" %>
                      <i class="fab fa-apple"></i>
                    <% elsif platform.name == "Linux" %>
                      <i class="fab fa-linux"></i>
                      <% elsif platform.name == "Web" %>
                      <p>Web</p>
                    <% end %>
                  <% end %>
                </div>
                  <div class="hero-button m-0 ml-3 following-button">
                    Following
                  </div>
              </div>
              <p class="banner-category">#<%= following.game.category %></p>
              <p class="banner-description"><%= following.game.description %></p>
            </div>
          </div>
          <div class="col-3 text-right">
            <p class="developer"><%= following.game.user.nickname %> <%= cl_image_tag(following.game.user.photo.key, class: "avatar ml-2") %></p>
          </div>
        </div>
        <h4 class="mt-3">Latest Posts</h4>
        <div class="row">
          <div class="col-4 post-col">
            <h5>Home</h5>
            <% if following.game.posts.where(category: "post").exists? %>
              <p class="pb-3"><%= following.game.posts.where(category: "post").last.content.truncate(240)%></p>
              <p class="text-right read-more m-0"><%= link_to "Read more", game_path(following.game)%></p>
            <% else %>
              <p><em>No posts available</em></p>
            <% end %>        </div>
          <div class="col-4 post-col">
            <h5>Discussion</h5>
            <% if following.game.posts.where(category: "discussion").exists? %>
              <p class="pb-3"><%= following.game.posts.where(category: "discussion").last.content.truncate(240)%></p>
              <p class="text-right read-more m-0"><%= link_to "Read more", discussion_game_posts_path(following.game)%></p>
            <% else %>
              <p><em>No posts available</em></p>
            <% end %>
          </div>
          <div class="col-4 post-col">
            <h5>Devlogs</h5>
            <% if following.game.posts.where(category: "devlog").exists? %>
              <p><%= following.game.posts.where(category: "devlog").last.content.truncate(240)%></p>
              <p class="text-right read-more m-0"><%= link_to "Read more", devlogs_game_posts_path(following.game)%></p>
            <% else %>
              <p><em>No posts available</em></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
      <p class="default-message">Looks like you don't follow any games!</p>
  <% end %>
</div>
