<div class="banner">
  <div class="box banner-image">
    <%= cl_image_tag(@game.photos.last.key) %>
  </div>
  <div class="box banner-content">
    <%= cl_image_tag(@game.user.photo.key, class: "avatar") %>
    <p class="developer">Developed by <%= @game.user.nickname %></p>
    <div class="banner-top">
      <h1 class="banner-title"><%= @game.title %></h1>
      <div class="system-icons">
        <% if @game.platform == "Windows" %>
          <i class="fab fa-windows"></i>
        <% elsif @game.platform == "MacOS" %>
          <i class="fab fa-apple"></i>
        <% else %>
          <i class="fab fa-linux"></i>
        <% end %>
      </div>
    </div>
    <p class="banner-category">#<%= @game.category %></p>
    <p class="banner-description"><%= @game.description %></p>
    <% if @game.user != current_user %>
      <div class="banner-order">
        <%= form_tag orders_path do %>
          <%= hidden_field_tag 'game_id', @game.id %>
          <%= submit_tag 'Buy Now', class: 'btn btn-primary' %>
        <% end %>
        <h3><%= humanized_money_with_symbol(@game.price)%></h3>
      </div>
    <% end %>
  </div>
</div>
<div class="row d-flex justify-content-center form-banner">
  <div class="col-8">
    <div class="banner-links">
      <%= link_to "Home", game_path(@game), class:"middle" %>
      <%= link_to "Discussion", discussion_game_posts_path(@game), class:"middle" %>
      <%= link_to "Devlogs", devlogs_game_posts_path(@game), class:"middle" %>
      <%= link_to "Reviews", game_reviews_path(@game), class:"middle" %>
    </div>
  </div>
</div>
