<div class="banner">
  <div class="box banner-image">
    <%= cl_image_tag(@game.photos.last.key) %>
  </div>
  <div class="box banner-content">
    <%= cl_image_tag(@game.photos.first.key, class: "avatar") %>
    <p class="developer">Developed by <%= @game.user.nickname %></p>
    <div class="game-box">
      <% if @game.user != current_user %>
        <div>
        <p class="box-title">Reviews</p>
        <% if @game.reviews.empty? %>
          <p class="box-info"><i>No reviews available</i></p>
        <% else %>
          <% @review_tally = 0.00 %>
          <% @game.reviews.each do |review| %>
            <% @review_tally += review.rating %>
          <% end %>
          <p class="box-info"><%= (@review_tally = (@review_tally / @game.reviews.count)).round(2)%>/5</p>
        <% end %>
        </div>
        <div>
          <p class="box-title">Published</p>
          <p class="box-info"><%= @game.created_at.strftime("%d/%m/%Y") %></p>
        </div>
        <div>
          <p class="box-title">Version</p>
          <p class="box-info"><%= rand(1...3) %>.<%= rand(1...20) %></p>
        </div>
      <% else %>
        <div>
          <p class="box-title">Purchases</p>
          <p class="box-info"><%= @game.orders.length %></p>
        </div>
        <div>
          <p class="box-title">Views</p>
          <p class="box-info"><%= @game.visit_counter %></p>
        </div>
        <div>
          <p class="box-title">Threads</p>
          <p class="box-info"><%= @game.posts.where(category: "discussion").length %></p>
        </div>
        <div>
        <p class="box-title">Reviews</p>
        <% if @game.reviews.empty? %>
          <p class="box-info">0</p>
        <% else %>
          <% @review_tally = 0.00 %>
          <% @game.reviews.each do |review| %>
            <% @review_tally += review.rating %>
          <% end %>
          <p class="box-info"><%= (@review_tally = (@review_tally / @game.reviews.count)).round(2)%>/5 (<%= @game.reviews.length %>)</p>
        <% end %>
        </div>
      <% end %>
    </div>
    <div class="banner-top">
      <h1 class="banner-title"><%= @game.title %></h1>
      <div class="system-icons">
        <% @game.platforms.each do |platform| %>
          <% if platform.name == "Windows" %>
            <i class="fab fa-windows platform-icon" ></i>
          <% elsif platform.name == "MacOS" %>
            <i class="fab fa-apple platform-icon"></i>
          <% elsif platform.name == "Linux" %>
            <i class="fab fa-linux platform-icon"></i>
            <% elsif platform.name == "Web" %>
            <i class="fas fa-globe-europe platform-icon"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <p class="banner-category">#<%= @game.category %></p>
    <p class="banner-description"><%= @game.description %></p>
    <% if @game.user != current_user %>
      <div class="banner-order">
        <%= form_tag orders_path do %>
          <%= hidden_field_tag 'game_id', @game.id %>
          <%= submit_tag 'Buy Now', class: 'banner-buy-button' %>
        <% end %>
        <h3><%= humanized_money_with_symbol(@game.price)%></h3>
      </div>
    <% end %>
  </div>
</div>
<div class="row d-flex justify-content-center form-banner">
  <div class="col-8">
    <div class="banner-links">
      <%= link_to "Home", game_path(@game), class:"middle" %>
      <%= link_to "Discussion", discussion_game_posts_path(@game), class:"middle" %>
      <%= link_to "Devlogs", devlogs_game_posts_path(@game), class:"middle" %>
      <%= link_to "Reviews", game_reviews_path(@game), class:"middle" %>
    </div>
  </div>
</div>
