<div class="box">
  <div class="row d-flex justify-content-center">
    <div class="order-content">
      <h1>Order #<%= @order.id %></h1>
      <div class="order-description">
        <%= cl_image_tag(@order.game.photos.last.key) %>
        <div class="description-left">
          <div class="order-title">
            <p><strong>Game</strong></p>
            <%= @order.game.title %>
          </div>
          <div class="order-date">
            <p><strong>Order date</strong></p>
            <%= @order.created_at.to_date %>
          </div>
          <div class="order-total">
            <p>Total:</p>
            <%= humanized_money_with_symbol @order.amount %>
          </div>
          <div class="badge badge-primary">
            <%= @order.state %>
          </div>
        </div>
      </div>
          <a class="order-download"><p>Download now</p></a>
    </div>
  </div>
</div>