

<div class="hero">
  <h2>Here we will Have our big nice games displays</h2>
</div>

<div class="search-form">
  <%= form_tag games_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a game!"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="main">
  <div class="filters">
  </div>

  <div class="display-games">
    <h1>Welcome To LevelUP</h1>
    <ol>
    <% @games.each do |game| %>
        <li><h5><%= link_to game.title, game_path(game) %></h5></li>
      <ul>
          <li><%=game.category %></li>
          <li><%= game.description %></li>
      </ul>
    <%end%>
    </ol>
  </div>
</div>
