<div class="container">
    <div class="new-form">
      <h1 class="text-center">Add a game</h1>
        <%= simple_form_for(@game) do |f| %>
          <%= f.input :title, placeholder: "Title" %>
          <%= f.input :description, placeholder: "Description" %>
          <%= f.input :category, placeholder: "Category" %>
          <%= f.button :submit, "Add now!", class: "btn btn-success submit-button" %>
        <% end %>
    </div>
</div>