
<div class="banner">
  <img src="" alt="">
</div>
<div class="navbar-links box">
  <ul>
    <%= link_to game_path(@game) do %>
       <li>Home</li>
    <% end %>
    <%= link_to game_path(@game) do %>
       <li>The Game</li>
    <% end %>
    <%= link_to discussion_game_posts_path(@game) do %>
       <li>Discussion</li>
    <% end %>
    <%= link_to discussion_game_posts_path(@game) do %>
       <li>Devlogs</li>
    <% end %>
    <%= link_to game_path(@game) do %>
       <li>Reviews</li>
    <% end %>
  </ul>
</div>
<div class="box">
  <div class="box">
    <div class="gallery-container">
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
  </div>





  <div class="row">
    <div class="col-lg-12 col-xl-5">
      <div class="card-show-left ">
        <h3>The Game</h3>
      </div>
      <div class="card-show-left ">
        <h3>Packages</h3>
      </div>
      <div class="card-show-left ">
        <h3>Discussion</h3>
      </div>
      <div class="card-show-left ">
        <h3>Reviews</h3>
      </div>

    </div>

    <div class="col-lg-12 col-xl-7">

        <div class=" card-show-right">
          <div class="fake-form-container">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="fake-form" data-toggle="modal" data-target="#myModal">What's new?</div>
          </div>

        </div>






       <% @posts.each do |post| %>

        <div class="card-show-right">
          <p><%= post.title %><span><%= link_to '   -', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></span></p>
          <p><%= post.content %></p>

        </div>
      <% end %>

    </div>

  </div>
  </div>


</div>


<div class="box">
  <div class="row">
    <div class="col-md-12">
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h1>Title</h1>
              <i class="far fa-times-circle"></i>
            </div>
            <div class="modal-body">
              <div class="post-form">
                <%= simple_form_for [@game, @post], html: {class: 'form-inline'} do |f| %>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <%= f.input :title, placeholder: "What's new?", label: false %>
                  <%= f.input :category, as: :hidden, input_html: { value: params[:category] || "post" } %>
                <% end %>
            </div>
            </div>
            <div class="modal-footer">
              <div class="btn btn-special"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<%= form_tag orders_path do %>
  <%= hidden_field_tag 'game_id', @game.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js">></script>
