

<%= render 'shared/banner' %>


<div class="box">
  <div class="box">
    <div class="gallery-container">
      <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <div class="gallery-cell">
          <%= cl_image_tag(@game.photos.last.key, crop: :fill) %>
        </div>
        <div class="gallery-cell">
          <%= cl_image_tag(@game.photos.first.key, crop: :fill) %>
        </div>
        <div class="gallery-cell">
          <%= cl_image_tag(@game.photos.last.key, crop: :fill) %>
        </div>
        <div class="gallery-cell">
          <%= cl_image_tag(@game.photos.first.key, crop: :fill) %>
        </div>
        <div class="gallery-cell">
          <%= cl_image_tag(@game.photos.last.key, crop: :fill) %>
        </div>
      </div>
    </div>





  <div class="row">
    <div class="col-lg-12 col-xl-5">
      <div class="card-show-left ">
        <h3>The Game</h3>
      </div>
      <div class="card-show-left ">
        <h3>Packages</h3>
      </div>
      <div class="card-show-left ">
        <h3>Discussion</h3>
      </div>
      <div class="card-show-left ">
        <h3>Reviews</h3>
      </div>

    </div>

    <div class="col-lg-12 col-xl-7">
<!-- Form visible only to the game owner to make a post -->
      <% if @game.user == current_user%>
        <div class=" card-show-right">
            <div class="fake-form-container">
              <%= image_tag @game.user.photo, class: "avatar" %>
              <div class="fake-form" data-toggle="modal" data-target="#myModal">What's new?</div>
            </div>
        </div>
      <% end %>



<!-- Posts one under the other -->
       <% @posts.each do |post| %>
        <div class="card-show-right">
          <div class="card-show-header">
            <div class="inner-show-header">
            <%= image_tag @game.user.photo, class: "avatar" %>
              <span class="user-date">
                <h2><%= post.user.nickname %></h2>
                <p class="time"><%= time_ago_in_words(post.created_at) %></p>
              </span>
            </div>
<!-- Dropdown available only to the post author === game owner-->
            <% if @game.user == current_user%>
              <div class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h"></i>
              </div>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Edit post", post_path(post), class:"dropdown-item #{'active' if controller_name == 'bookings' && action_name == 'index'}" %>
                <%= link_to "Delete post", post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class:"dropdown-item" %>
            </div>
          <% end %>
          </div>

          <% if post.photo.attached? %>
            <%= cl_image_tag(post.photo.key, class: "image-post") %>
          <% end %>
          <div class="card-show-content">
            <p><%= post.title %></p>
            <p><%= post.content %></p>
          </div>


<!-- All the replies -->
          <div class="replies-container">
            <% post.replies.each do |reply| %>
              <p><%= reply.content %></p>
            <% end %>
          </div>


<!-- Form for 1st tier reply-->
          <div class="card-show-reply">
            <%= simple_form_for [post, Reply.new], html: {class: 'form-inline'} do |f| %>
              <%= image_tag current_user.photo, class: "avatar-small" %>
              <%= f.input :content, placeholder: "Comment on that...", label: false %>

            <% end  %>
          </div>


        </div>
      <% end %>

    </div>

  </div>
  </div>


</div>


<div class="box">
  <div class="row">
    <div class="col-md-12">
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h5>Create a post</h5>
              <button id="close-button-container" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <small aria-hidden="true" id="close-button" class="mdi mdi-close-circle-outline text-white"></small>
              </button>

            </div>
            <div class="modal-body">
              <div class="post-form-body-top">
                <%= image_tag @game.user.photo, class: "avatar" %>
                <span>@<%= @game.user.nickname %></span>
              </div>
              <div class="post-form">
                <%= simple_form_for [@game, @post] do |f| %>

                  <%= f.input :content, placeholder: "What's new?", label: false %>
                  <%= f.input :category, as: :hidden, input_html: { value: params[:category] || "post" } %>
                  <div class="post-form-photo">
                    <%= f.input :photo, as: :file, label: false %>
                  </div>
              </div>
            </div>
            <div class="modal-footer">

                <%= f.button :submit, "Post", class: "btn btn-for-post" %>

            </div>
                <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>








