<%= render 'shared/banner' %>
<div class="box">
  <div class="cards-post">
    <% @discussion.reverse.each do |discussion| %>
      <div class="card-discussion">
        <div class="discussion-top">
          <%= cl_image_tag(discussion.user.photo.key, class: "avatar") %>
          <div class="user-date">
            <h2><%= discussion.user.nickname %></h2>
            <p class="time"><%= time_ago_in_words(discussion.created_at) %></p>
          </div>
          <% if @game.user.id == discussion.user.id %>
            <div class="btn btn-success submit-button top-button">Developer</div>
            <div class="vl"></div>
          <% end %>
        </div>
        <div class="discussion-content">
          <p><%= discussion.content %></p>
          <% if discussion.photo.attached? %>
            <%= cl_image_tag(discussion.photo.key, class: "image-post") %>
          <% end %>
        </div>
        <%= link_to "Add a reply", "##{dom_id(discussion)}", class: "btn btn-success submit-button reply-button", data: { toggle: 'collapse' }, role: 'button', 'aria-expanded' => false %>
      </div>
        <% discussion.replies.each do |reply|  %>
          <div class="card-reply" id="reply-<%= reply.id %>">
            <div class="discussion-top">
              <%= cl_image_tag(reply.user.photo.key, class: "avatar") %>
              <div class="user-date">
                <h2><%= reply.user.nickname %></h2>
                <p class="time"><%= time_ago_in_words(reply.created_at) %></p>
              </div>
              <% if @game.user.id == reply.user.id %>
                <div class="btn btn-success submit-button top-button">Developer</div>
                <div class="vl"></div>
              <% end %>
            </div>
            <p class="discussion-content"><%= reply.content %></p>
          </div>
        <% end %>
        <div class="collapse" id="<%= dom_id(discussion) %>">
          <div class="form-reply">
            <%= simple_form_for [discussion, Reply.new] do |f| %>
            <%= f.input :content, label: "Add your comment below" %>
            <%= f.submit "Submit", class: "btn btn-success submit-button"  %>
            <% end  %>
          </div>
        </div>
    <% end %>
    <div class="btn btn-success submit-button" data-toggle="modal" data-target="#myModal">Add a post</div>
  </div>
</div>

<div class="box">
  <div class="row">
    <div class="col-md-12">
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h5>Create a post</h5>
              <button id="close-button-container" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <small aria-hidden="true" id="close-button" class="mdi mdi-close-circle-outline text-white"></small>
              </button>
            </div>
            <div class="modal-body">
              <div class="post-form-body-top">
                <%= image_tag @game.user.photo, class: "avatar" %>
                <span>@<%= @game.user.nickname %></span>
              </div>
              <div class="post-form">
                <%= simple_form_for [@game, @post] do |f| %>
                  <%= f.input :content, placeholder: "Content", label: false %>
                  <%= f.input :category, as: :hidden, input_html: { value: "discussion" } %>
                  <div class="post-form-photo">
                    <%= f.input :photo, as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
                  </div>
                  <div class="line-form"></div>
                  <div class="modal-footer">
                    <%= f.button :submit, "Add now!", class: "btn btn-success btn-for-post" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
