<div class="container">
  <div class="row d-flex justify-content-center form-container">
    <div class="col-8 new-form">
      <h1 class="text-center">Add a post</h1>
        <%= simple_form_for [@game, @post] do |f| %>
          <%= f.input :title, placeholder: "Title" %>
          <%= f.input :content, placeholder: "Content" %>
          <%= f.input :category, as: :hidden, input_html: { value: params[:category] || "post" } %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, "Add now!", class: "btn btn-success submit-button" %>
        <% end %>
    </div>
  </div>
</div>
